.contact {
  margin-bottom: 1em;
}

.contact:hover {
  background-color: #f2f8fb;
  cursor: pointer;
}

.firstname, .lastname {
  font-size: 1.2em;
}

.firstname {
  font-weight: bold;
  margin-right: 0.5em;
}

.badge-empty {
  color: transparent;
  background-color: transparent;
}